<!-- Lender landing page -->
<p>Name: <%= @lender.first_name %> <%= @lender.last_name %></p>
<p>Account Balance: <%= number_to_currency(@lender.money) %></p>

<h2>List of people in need of help:</h2>


<!--I don't know why it wouldn't let me put tables here, even commented out.-->